Repository detrohutt/get-gql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, prettier --write

Export 'defaultResolve' function
  src/index.ts
Due: eslint --ext .ts --fix, prettier --write

Fix package name and graphql peerDependency version
  package.json
Due: prettier --write

Restore previous behavior (as in BPIIGA) for fragments
  __tests__/main.ts
  src/index.ts
Due: eslint --ext .ts --fix, prettier --write

Avoid duplicate fragment name warning
  __fixtures__/graphql/nested/deep/fragment.graphql
  __fixtures__/graphql/nested/partial.graphql
Due: none

Change 'noWrap' option to 'wrapSingleExport'
  __tests__/main.ts
  src/index.ts
Due: eslint --ext .ts --fix, prettier --write

Split up index file and add some comments
  src/constants.ts
  src/createDocMap.ts
  src/createDocWorker.ts
  src/index.ts
  src/isSchemaLike.ts
Due: eslint --ext .ts --fix, prettier --write

[WIP] Everything is broken
  .gitignore
  __tests__/main.ts
  package.json
  rollup.config.js
  src/createDocWorker.ts
  src/index.es5.ts
  src/index.ts
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  yarn.lock
Due: eslint --ext .ts --fix, prettier --write

Path conditions:
  eslint --ext .ts --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.json)
